/*=================>> ABDUNKELUNG <<=================*/
.black-overlay {
  position:fixed;
  height:100%;
  left:0px;
  right:0px;
  background-color: rgba(0,0,0,0.6);
  display:none;
  z-index: 10000;
  cursor: pointer;
}

.black-overlay-on {
  display: block;
}

/*=================>> BUTTON <<=================*/

.ausklappen {
  background-color:rgba(255,255,255,0.55);
  border-radius: 0 0 10px 10px;
  color:#000000;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding:5px 16px;
  position:fixed;
  left:-48px;
  margin-left: 50%;
  text-align:center;
  top:0px;
  transition:all 0.2s ease 0s;
  z-index:9999;
}

.ausklappen:hover {
  background-color: rgba(255,255,255,0.9);
  transition:all 0.2s;
}

.ausklappen-on {
  top:0px;
  transition:all 0.4s;
}

/*=================>> AUSKLAPPBARESMENU + UNTERSTRUKTUR <<=================*/

.slider-wrapper {
  width:1088px;
  margin: 0 auto;
}

.slideroff-slider {
  position:fixed;
  top:-300px;
  left:0px;
  right:0px;
  height:50px;
  background-color:rgba(255,255,255,1);
  z-index:10002;
  transition:all 0.3s; 
}

.slideron-slider {
  top:0px;
  transition:all 0.3s; 
}   

.slider-show {
  position: absolute;
  top:0px;
  right:0px;
  left:0px;
  height:100px;
  z-index: 10003;
  background-color: black;
}

  .menupunkt {
    font-size: 18px;
    text-align: center;
    width:264px;
    float: right;
    padding: 16px 0px;
    border-bottom: 2px solid #ffffff;
  }

  .menupunkt:hover {
    border-bottom: 2px solid #AD1034;
  }

  .slideroff-slider ul {
  text-align:left;
  display: inline;
  margin: 0;
  padding: 0px 4px 0px 0;
  list-style: none;
  float:left;
}

.slideroff-slider ul li {
  font-size: 16px;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 12px 20px;
  padding-left: 30px;
  background: #fff;
  cursor: pointer;
  width:170px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition:all 0.2s;
  border-top:3px solid #ffffff;
}

.slideroff-slider ul li:hover {
 border-top:3px solid #ad1034;
}

.slideroff-slider-hovermenu {
  border-top:3px solid #AD1034 !important;
} 
.slideroff-slider ul li ul {
  padding: 0;
  position: absolute;
  top: 43px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.slideroff-slider ul li ul li { 
  background: rgba(255,255,255,0.9); 
  display: block;
  color: #000000;
  border:none;
}

.slideroff-slider ul li ul li:hover { background: rgba(255,255,255,1); border:none; }
.slideroff-slider ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.responsive-show {
  display: block!important;
  opacity: 1!important;
  visibility: visible!important;
}

.username-menu a {
  color:black!important;
  cursor: pointer!important;
}

.username-menu {
  float:left;
  width:230px;
  font-size: 15px;
  padding:13px 0px 0px;
  height:35px;
  border-top:3px solid #ffffff;
  text-align: center;
  transition:all 0.2s;
  margin-left:170px;
}

.username-menu a, .username a:link, .username a:visited {
  color:#DDDDDD;
  cursor: pointer;
  text-decoration: none;
}

.username-menu i, .buttons i {
  color:#333333;
  cursor: pointer;
  font-size:21px;
}

.username-menu i:hover, .buttons i:hover {
  color:#000000;
}

.close-icon {
  position: fixed;
  font-size:36px;
  color:rgba(0,0,0,0.8);
  bottom:10px;
  margin-left:50%;
  left:-35px;
  padding:20px 20px;
  opacity: 1;
  transition:all 0.5s;
 /* -webkit-transform: rotateZ(190deg);  Chrome, Safari, Opera 
  transform: rotateZ(190deg);*/
}

.close-icon-on {
  bottom:0px;
  opacity: 1;
/*  -webkit-transform: rotateZ(0deg);  Chrome, Safari, Opera 
  transform: rotateZ(0deg);*/
  transition:all 0.5s;
}

.buttons {  
  border-top: 3px solid #ffffff;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  padding: 10px 0px 0px;
  
}

.slider-studium, .slider-dienstleistung {
  position: fixed;
  top:-200px;
  left:0px;
  right:0px;
  height:50px;
  background-color:rgba(255,255,255,0.8);
  z-index:10001;
  transition:all 0.3s; 
}

.slideron-studium {
  top:50px;
  transition:all 0.3s; 
}

.slideron-dienstleistung {
  top:50px;
  transition:all 0.3s;
}

 .slider-studium ul, .slider-dienstleistung ul {
  text-align:center;
  display: inline;
  margin: 0 auto;
  padding: 0px 4px 0px 0;
  list-style: none;
}

.slider-studium ul li, .slider-dienstleistung ul li {
  font-size: 16px;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 13px 20px;
  background: rgba(255,255,255,0);
  border-bottom:3px solid rgba(255,255,255,0);
  cursor: pointer;
  width:176px;
  transition:background 2s;
}

.slider-studium ul li:hover, .slider-dienstleistung ul li:hover {
  /*border-bottom:3px solid #fff;
  background: rgba(255,255,255,1);*/
  font-weight: bold;
  transition:background 0.2s;
}

.slider-studium ul li ul, .slider-dienstleistung ul li ul {
  padding: 0;
  position: absolute;
  top: 43px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.slider-studium ul li ul li, .slider-dienstleistung ul li ul li { 
  background: rgba(255,255,255,0.8); 
  display: block; 
  color: #000000;
  border:none;
  font-weight: normal;
}

.slider-studium ul li ul li:first-child, .slider-studium ul li ul li:first-child {
  margin-top:7px;
}

.slider-studium ul li ul li:hover, .slider-dienstleistung ul li ul li:hover {border:none;}
.slider-studium ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.slider-dienstleistung ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}



.custom-dropdown  li {
  background-color: rgba(255,255,255,0.5);
}

.navbar-collapse ul > li {
  border-top:3px solid #ffffff;
}

.navbar-collapse ul > li:hover, li:focus {
  border-top:3px solid #ad1034;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.no-border {
  border:none!important;
}

.navbar {
  z-index:10002;
  margin-top: -50px;
  transition:all 0.2s;
}

.navbar-on {
  margin-top: 0px!important;
  transition:all 0.2s;
}


.slideroff-slider li > i {
  font-size: 25px;
}


/*==================================================*/
/*=================>> RESPONSIVE <<=================*/
/*==================================================*/


/*=================>> max 1088px <<=================*/

@media screen and (max-width: 1088px) {

  .slider-wrapper {
    width:100%;
    margin:0px;
  }
  
}


/*=================>> max 1050px <<=================*/

@media screen and (max-width: 1050px) {

  .username-menu {
    float:right;
    margin-left:0px;
  }

  .slideroff-slider ul li:hover ul {
    display: none;
    opacity: 0;
    visibility: hidden;
  }


}


/*=================>> max 880px <<=================*/

@media screen and (max-width: 880px) {

  .slideroff-slider ul li {
    width:140px;
  }

}


/*=================>> max 760px <<=================*/

@media screen and (max-width: 760px) {

  .slideroff-slider ul {
    width:100%;
    text-align: center;
  }

  .slideroff-slider ul li {
    width:100%;
  }

  .slideroff-slider ul li ul {
    width:100%;
    position:relative;
    top:20px;
  }

  .slideroff-slider ul li ul li {
    width:100%;
    /*margin-left:-23px;*/
    padding:10px 0;
  }

  .username-menu {
    width:100%;
    float: left;
    background-color:#e8e8e8;
    border-bottom:3px solid #ad1034;
    font-size: 17px;
  }

  .username-menu i {
    font-size:21px !important;
  }

  .slider-dienstleistung ul li ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .slider-studium ul li ul {
    display: block;
    opacity:1;
    visibility:visible;
  }

  .fa {
    /*font-size: 32px;*/
  }

}